body{
margin:0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:white;
}

.pantalla{
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background-size:cover;
background-position:center;
}

.fondoInicio{
background-image:url("inicio.jpg");
}

.fondoNombre{
background-image:url("nombre.gif");
}

.fondoPreguntas{
background-image:url("preguntas.gif");
}

.fondoResultado{
background-image:url("resultado.webp");
}

.caja{

background:rgba(0,0,0,0.6);
padding:40px;
border-radius:15px;
text-align:center;
max-width:600px;
}

button{

padding:15px 30px;
font-size:18px;
margin:10px;
cursor:pointer;
border:none;
border-radius:10px;
background:#3f5394;
color:white;
}

button:hover{
background:#322e7d;
}

input{
padding:10px;
font-size:18px;
border-radius:8px;
border:none;
}

.botonGrande{

font-size:30px;
padding:20px 60px;

}

.barra{
width:100%;
height:20px;
background:#222;
border-radius:10px;
margin:20px 0;
overflow:hidden;
}

#progreso{
height:100%;
width:0%;
background:#3333d5;
transition:0.3s;
}